@charset "utf-8" ;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
}

/* ヘッダー全体 */
.header {
  border-bottom: 1px solid #ddd;
  display: flex;
  height: 80px;
  background-color: #ddd;
}

.header-left {
  display: flex;
}

.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
}

/* ロゴ */
.logo {
  font-size: 25px;
  letter-spacing: 0.3em;
  font-weight: 500;
  padding: 20px 20px 20px 20px;
}

/* ナビ */
.nav {
  margin: 0 auto;
  padding: 30px 40px;
  font-size: 10px;
 }

.nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

/* お問い合わせ */
.header-right {
  margin-left: auto;
}

.header-right a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 80px;
  background: #000;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.mv {
  width: 100%;
  height: 100vh;
  height: calc(100vh - 80px);
}

.mv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* セクション全体 */
.news {
  max-width: 1200px;
  padding: 60px 0;
  margin: 0 auto;
}

.container {
  padding: 50PX;
}

/* 見出し */
.section-header  {
  font-size: 20px;
  padding-bottom: 40px;
  font-weight: normal;
  letter-spacing: 0.4em;
  margin: 0 
}

.section-header::after {
 content: "";
 display: block;
 width: 40px;
 height: 1px;
 background: #000;
 margin-top: 20px; 
}

/* ニュース一覧 */
.news-list {
  display: flex;
  margin-top: 30px;
}

/* 各ニュース */
.news-item {
  flex: 1;
  padding: 0 40px;
  position: relative;
}

.news-item:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #000;
}


.meta {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.meta time {
  font-size: 16px;
}


.news-label {
  display: inline-block;
  padding: 4px 10px;
  background: #000;
  color: #fff;
  font-size: 12px;
}


.news-text {
  font-size: 14px;
  line-height: 1.6;
  font-weight: normal;
  margin: 20px 0 0 0;
}

h2 {
  font-weight: normal;
  margin: 0;
}

h3 {
  font-weight: normal;
  margin: 0;
}

.feature {
  display:flex;
  gap: 60px;
}

.about-text {
  margin-bottom: 40px;
}

.about-img {
  width: 60%;
  height: 400px;
}

.about-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-right: 30px;
}

.text-box {
  width: 40%;
  margin-top: 100px;
}

.about-text h2 {
  font-size: 30px;
  letter-spacing: 0.4em;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 40px;
}

.about-text h3 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 20px;
}

.about-text::after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background: #000;
}

.about-text {
  line-height: 2;
}

.about-text p {
  font-size: 16px;
  line-height: 1.8;
  margin-top: 40px;
}

.about-text2 {
  line-height: 2.2;
}

.business {
  padding: 50px 0;
}

.business-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  row-gap: 120px;
  max-width: 1000px;
}

.business-left {
  display: flex;
  margin-top: 48px;
  flex-direction: column;
  gap: 16px; 
  align-items: center; 
}

.business-right {
  display: flex;
  flex-direction: column;
  gap: 16px; 
  align-items: center; 
}

.business-item {
  position: relative;
}

.business-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.business-name {
  width: 320px;
  position: relative;
}

.business-item img {
  width: 100%;
  position: relative;
  margin: 0 auto;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  
}

.business-item p {
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.service-item:nth-child(2) {
  transform: translateY(20px);
}
.service-item:nth-child(3) {
  transform: translateY(40px);
}
.service-item:nth-child(4) {
  transform: translateY(60px);
}

.zenntai {
  display: flex;
  flex-direction: row-reverse;
}

.company {
  position: relative;
}
.company-info {
  width: 567px;
  background-color: #fff;
}

.company-image {
  width: 53%;
  height: 400px;
  position:absolute;
  right:0px;
  top: 50%;
  transform: translateY(-50%);  
}

.company-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.company-list {
  padding-right: 40px;
}

.company-row {
  display: flex;
  width: auto;
  gap: 20px;
} 

 dt {
  display: inline-block;
  width: auto;
}

 dd { 
  margin-left: 130px;
  margin-bottom: 10px;
  display: inline-block;
  width: auto;
}

.company-info {
  width: 567px;
  background-color: #ffff;
}


.footer {
  padding: 40px;
  background-color: #fff;
}

.footer-info {
  padding: 16px;
  font-size: 16px;
  text-align:right
}

.footer-logo {
  font-size: 48px; 
  font-weight: bold;     
  letter-spacing: 0.4em;
}




/* ===== ここからスマホ用 ===== */
@media (max-width: 900px) {

  .header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #header .inner {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .header-left {
    display: block;
  }

  .header-right a {
    display: none;
  }

  img {
    max-width: 100%;
    vertical-align: bottom;
  }

  .logo {
    font-size: 25px;
    letter-spacing: 0.4em;
    font-weight: normal;
    padding: 10px 20px 0 20px;
  }

  .nav {
    padding: 0px 20px;
  }

  .nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  }

  .nav a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  }
  

}
