@charset "utf-8" ;

* {
  margin: 0;
  padding: 0;
}

.img { 
  border-style: none;
}

.header {
  background-color: #f3f1ee;
}

.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo img {
  height: 32px;
}

.nav ul {
  display: flex;
  gap: 40px;
}





