@charset "utf-8" ;

* {
  margin: 0;
  padding: 0;
}

/* ヘッダー全体 */
.header {
  border-bottom: 1px solid #ddd;
  display: flex;
  height: 60p;
  background-color: #ddd;
}

.header-left {
  display: flex;
}

.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
}

/* ロゴ */
.logo {
  font-size: 32px;
  letter-spacing: 0.3em;
  font-weight: 500;
  padding: 20px 20px 20px 20px;
}

/* ナビ */
.nav {
  margin: 0 auto;
  padding: 30px 40px;
  font-size: 10px;
 }

.nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

/* お問い合わせ */
.header-right {
  margin-left: auto;
}

.header-right a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 80px;
  background: #000;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

/* セクション全体 */
.news {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 0;
}

/* 見出し */
.news-header h2 {
  font-size: 20x;
  font-weight: normal;
  letter-spacing: 0.4em;
  margin: 0 
}

.news-sub p {
  margin: 0 0 40px;
  font-size: 14px;
}

/* ニュース一覧 */
.news-list {
  display: flex;
}

/* 各ニュース */
.news-item {
  flex: 1;
  padding: 0 40px;
  position: relative;
}

.news-item:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #000;
}


.meta {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.meta time {
  font-size: 16px;
}


.news-label {
  display: inline-block;
  padding: 4px 10px;
  background: #000;
  color: #fff;
  font-size: 12px;
}


.news-text {
  font-size: 14px;
  line-height: 1.6;
  font-weight: normal;
  margin: 20px 0 0 0;
}

h2 {
  font-weight: normal;
  margin: 0;
}

h3 {
  font-weight: normal;
  margin: 0;
}

/* ===== ここからスマホ用 ===== */
@media (max-width: 750px) {

  .header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #header .inner {
    flex-direction: column;
    align-items: flex-start;
  }

  img {
    max-width: 100%;
    vertical-align: bottom;
  }

  .rogo {
  font-size: 40px;
  letter-spacing: 0.4em;
  font-weight: normal;
  margin: 0 0 10px 0;
  }

  .nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  }

  .nav a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  }
  

}
